<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwy.accounting.dao.ModuleBuildEntityMapper">
    <resultMap id="BaseResultMap" type="com.zwy.accounting.entity.ModuleBuildEntity">
        <result column="module_build_id" property="moduleBuildId" jdbcType="INTEGER"/>
        <result column="module_id" property="moduleId" jdbcType="INTEGER"/>
        <result column="module_name" property="moduleName" jdbcType="VARCHAR"/>
        <result column="build_num" property="buildNum" jdbcType="INTEGER"/>
        <result column="build_status" property="buildStatus" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="VARCHAR"/>
        <result column="message" property="message" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="TABLE">
        t_module_build
    </sql>
    <sql id="COLUMN">
        module_build_id, module_id, build_num, module_name, build_status, version, message, gmt_create
    </sql>
    <insert id="insert" parameterType="com.zwy.accounting.entity.ModuleBuildEntity">
        insert into
        <include refid="TABLE"/>
        (module_id, module_name, build_num, build_status, version, message)
        values (#{moduleId}, #{moduleName}, #{buildNum}, #{buildStatus}, #{version}, #{message})
    </insert>
    <select id="selectSuccessModuleBuild" resultMap="BaseResultMap">
        select
        <include refid="COLUMN"/>
        from
        <include refid="TABLE"/>
        where module_id = #{moduleId} and version = #{version} and build_status = 3
    </select>
    <!--筛选构建成功的版本号-->
    <select id="selectModulesBuildByModuleId" resultMap="BaseResultMap">
        select
        <include refid="COLUMN"/>
        from
        <include refid="TABLE"/>
        where module_id = #{moduleId} and build_status = 3 order by module_build_id desc
    </select>

    <select id="selectModuleBuildById" resultMap="BaseResultMap">
        select * from
        <include refid="TABLE"/>
        where module_build_id = #{moduleBuildId}
    </select>

    <select id="selectModuleBuilds" resultMap="BaseResultMap">
        select * from
        <include refid="TABLE"/>
        where module_id = #{moduleId}
        order by module_build_id desc
    </select>
</mapper>