<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwy.accounting.dao.ModuleEntityMapper">
    <resultMap id="BaseResultMap" type="com.zwy.accounting.entity.ModuleEntity">
        <result column="module_id" property="moduleId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="repo" property="repo" jdbcType="VARCHAR"/>
        <result column="branch" property="branch" jdbcType="VARCHAR"/>
        <result column="cur_version" property="curVersion" jdbcType="VARCHAR"/>
        <result column="catalog" property="catalog" jdbcType="VARCHAR"/>
        <result column="build_status" property="buildStatus" jdbcType="INTEGER"/>
        <result column="descr" property="descr" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_update" property="gmtUpdate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ModulesNameMap" type="com.zwy.accounting.model.response.ModulesNameResp">
        <result column="module_id" property="moduleId"/>
        <result column="name" property="name"/>
    </resultMap>
    <parameterMap id="BaseParameterMap" type="com.zwy.accounting.entity.ModuleEntity">
        <parameter property="moduleId" jdbcType="INTEGER"/>
        <parameter property="name" jdbcType="VARCHAR"/>
        <parameter property="repo" jdbcType="VARCHAR"/>
        <parameter property="branch" jdbcType="VARCHAR"/>
        <parameter property="curVersion" jdbcType="VARCHAR"/>
        <parameter property="catalog" jdbcType="VARCHAR"/>
        <parameter property="buildStatus" jdbcType="INTEGER"/>
        <parameter property="descr" jdbcType="VARCHAR"/>
        <parameter property="gmtCreate" jdbcType="TIMESTAMP"/>
        <parameter property="gmtUpdate" jdbcType="TIMESTAMP"/>
    </parameterMap>
    <sql id="TABLE">
        t_module
    </sql>
    <sql id="COLUMN">
        module_id, `name`, repo, branch, catalog, cur_version, build_status, descr, gmt_create, gmt_update
    </sql>
    <update id="updateModule">
        update
        <include refid="TABLE"/>
        <set>
            `name` = #{name}, repo = #{repo}, branch = #{branch}, catalog = #{catalog},
            <if test="descr!=null">descr = #{descr},</if>
        </set>
        where module_id = #{moduleId}
    </update>

    <update id="updateStatus">
        update
        <include refid="TABLE"/>
        <set>
            build_status = #{buildStatus}
        </set>
        where module_id = #{moduleId}
    </update>

    <update id="updateVersion">
        update
        <include refid="TABLE"/>
        <set>
            cur_version = #{curVersion}
        </set>
        where module_id = #{moduleId}
    </update>

    <delete id="deleteModuleById">
        delete from
        <include refid="TABLE"/>
        where module_id = #{moduleId}
    </delete>

    <select id="selectModules" resultMap="BaseResultMap">
        select
        <include refid="COLUMN"/>
        from
        <include refid="TABLE"/>
    </select>

    <select id="selectModuleByName" resultMap="BaseResultMap">
        select
        <include refid="COLUMN"/>
        from
        <include refid="TABLE"/>
        where name = #{name}
    </select>

    <select id="selectModuleById" resultMap="BaseResultMap">
        select
        <include refid="COLUMN"/>
        from
        <include refid="TABLE"/>
        where module_id = #{moduleId}
    </select>

    <select id="selectEnableModulesName" resultMap="ModulesNameMap">
        select `name`, module_id from
        <include refid="TABLE"/>
        where
        #筛选出项目没有的组件
        module_id not in (select module_id from t_project_module natural join t_module_build where project_id = #{projectId} and build_status = 3)
        #筛选出构建过的组件
        and module_id in (select module_id from t_module_build)
        order by `name`
    </select>

    <!--useGeneratedKeys="true" keyProperty="moduleId" 返回新增加的主键倒moduleId属性中-->
    <insert id="insertModule" parameterType="com.zwy.accounting.entity.ModuleEntity" useGeneratedKeys="true"
            keyProperty="moduleId">
        insert into
        <include refid="TABLE"/>
        (`name`, repo, catalog, branch, descr)
        values (#{name}, #{repo},#{catalog}, #{branch}, #{descr})
    </insert>

</mapper>